In [1]:
import pandas as pd
import sqlalchemy
import os
import random

URI = 'mysql+mysqlconnector://' + os.environ.get('MYSQL_USER') + ':' + os.environ.get('MYSQL_PASSWORD') + '@localhost/' + os.environ.get('MYSQL_DB')
connection = sqlalchemy.create_engine(URI)

df = pd.read_csv('~/Desktop/goodbooks-10k/books.csv')
df = df[['book_id', 'original_title', 'isbn','authors', 'original_publication_year','image_url', 'average_rating', 'books_count']]
df.sort_values(inplace=True, by = ['book_id'])

In [4]:
from Book_Flask import db
resudb.engine.execute("CREATE DATABASE IF NOT EXISTS borestook CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;")
db.create_all

In [5]:
data = [{'GenreID': 1, 'Name': 'Science fiction'},
       {'GenreID': 2, 'Name': 'Satire'},
       {'GenreID': 3, 'Name': 'Drama'},
       {'GenreID': 4, 'Name': 'Romance'},
       {'GenreID': 5, 'Name': 'Mystery'},
       {'GenreID': 6, 'Name': 'Horror'},
       {'GenreID': 7, 'Name': 'Self help'},
       {'GenreID': 8, 'Name': 'Health'},
       {'GenreID': 9, 'Name': 'Guide'},
       {'GenreID': 10, 'Name': 'Travel'},
       {'GenreID': 11, 'Name': 'Religion, Spirituality & New Age'},
       {'GenreID': 12, 'Name': 'Science'},
       {'GenreID': 13, 'Name': 'History'},
       {'GenreID': 14, 'Name': 'Math'},
       {'GenreID': 15, 'Name': 'Anthology'},
       {'GenreID': 16, 'Name': 'Poetry'},
       {'GenreID': 17, 'Name': 'Encyclopedias'},
       {'GenreID': 18, 'Name': 'Dictionaries'},
       {'GenreID': 19, 'Name': 'Comics'},
       {'GenreID': 20, 'Name': 'Cookbooks'},
       {'GenreID': 21, 'Name': 'Diaries'},
       {'GenreID': 22, 'Name': 'Journals'},
       {'GenreID': 23, 'Name': 'Prayer books'},
       {'GenreID': 24, 'Name': 'Series'},
       {'GenreID': 25, 'Name': 'Trilogy'},
       {'GenreID': 26, 'Name': 'Biographies'},
       {'GenreID': 27, 'Name': 'Autobiographies'},
       {'GenreID': 28, 'Name': 'Fantasy'},
       {'GenreID': 29, 'Name': 'Others'}]

In [6]:
data_genres = pd.DataFrame(data)

In [7]:
authors_name = []

for i in range(len(df['book_id']) - 1):
    for x in (df.iloc[i]['authors']).split(','):
        temp = x.strip()
        if temp not in authors_name:
            authors_name.append(temp)

authors_id = []
for i in range(len(authors_name)):
    authors_id.append(i+1)

In [8]:
data_authors = pd.DataFrame({'AuthorID': authors_id, 'Name': authors_name})

In [9]:
a = data_authors[data_authors['Name'] == 'J.K. Rowling'].values[0].tolist()
a[1]

'J.K. Rowling'

In [10]:
def get_id_of_author(s):
    temp = data_authors[data_authors['Name'] == s].values[0].tolist()
    return temp[0]

In [11]:
get_id_of_author('Frank Herbert')

20

In [12]:
def replace_author(s):
    authors_id = ''
    for word in s.split(','):
        stripped_word = word.strip()
        if stripped_word in authors_name:
            if authors_id != '':
                authors_id += (', ' + str(get_id_of_author(stripped_word)))
            else:
                authors_id += str(get_id_of_author(stripped_word))
    return authors_id

In [13]:
replace_author('Heidi Murkoff, Sharon Mazel, Heidi Murkoff, Arlene Eisenberg, Sandee Hathaway, Mark D. Widome')

'15, 16, 15, 17, 18, 19'

In [14]:
temp = []
for x in range(len(df['book_id'])):
    temp.append(df.iloc[x]['authors'])

In [15]:
own = []
for i in temp:
    own.append(replace_author(i))

In [16]:
df['authors'] = own

In [17]:
random_genre = []
random_price = []
for i in range(len(df['book_id'])):
    random_genre.append(random.randint(1, len(data)))

for i in range(len(df['book_id'])):
    random_price.append(random.randint(5, 500))

In [18]:
df['GenreID'] = random_genre
df['Price'] = random_price

In [19]:
df.rename(columns = {'authors' : 'AuthorsID',
                     'book_id' : 'BookID',
                     'original_title' : 'Title',
                     'isbn' : 'ISBN',
                     'original_publication_year' : 'PublicationYear',
                     'image_url' : 'ImgUrl',
                     'average_rating': 'AvgRating',
                     'books_count' : 'Quantity'}, inplace = True)

In [20]:
df = df[['BookID', 'Title', 'ISBN', 'AuthorsID', 'PublicationYear', 'ImgUrl', 'Price', 'AvgRating', 'Quantity', 'GenreID']]

In [22]:
#delete book with no image
df = df[df.ImgUrl != 'https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png']
#delete book with no title
df = df[df.Title != ' '].shape

,BookID,Title,ISBN,AuthorsID,PublicationYear,ImgUrl,Price,AvgRating,Quantity,GenreID
26,1,Harry Potter and the Half-Blood Prince,439785960,"1, 2",2005.0,https://images.gr-assets.com/books/1361039191m...,122,4.54,275,18
20,2,Harry Potter and the Order of the Phoenix,439358078,"1, 2",2003.0,https://images.gr-assets.com/books/1387141547m...,319,4.46,307,13
1,3,Harry Potter and the Philosopher's Stone,439554934,"1, 2",1997.0,https://images.gr-assets.com/books/1474154022m...,407,4.44,491,19
17,5,Harry Potter and the Prisoner of Azkaban,043965548X,"1, 2, 3",1999.0,https://images.gr-assets.com/books/1499277281m...,376,4.53,376,19
23,6,Harry Potter and the Goblet of Fire,439139600,"1, 2",2000.0,https://images.gr-assets.com/books/1361482611m...,306,4.53,332,14
3274,8,NaN,439682584,"1, 2",2003.0,https://s.gr-assets.com/assets/nophoto/book/11...,496,4.77,11,27
3752,10,"Harry Potter Collection (Harry Potter, #1-6)",439827604,1,2005.0,https://images.gr-assets.com/books/1328867351m...,244,4.73,6,17
53,11,The Hitchhiker's Guide to the Galaxy,345391802,4,1979.0,https://images.gr-assets.com/books/1327656754m...,23,4.20,257,28
336,13,The Ultimate Hitchhiker's Guide: Five Complete...,345453743,4,1996.0,https://images.gr-assets.com/books/1404613595m...,87,4.37,32,22
373,21,A Short History of Nearly Everything,076790818X,5,2003.0,https://s.gr-assets.com/assets/nophoto/book/11...,309,4.19,155,20
1459,24,Down Under,767903862,5,2000.0,https://s.gr-assets.com/assets/nophoto/book/11...,168,4.05,76,26
1975,25,Notes from a Big Country,076790382X,5,1998.0,https://s.gr-assets.com/assets/nophoto/book/11...,207,3.89,69,23
2320,26,The Lost Continent: Travels in Small-Town America,60920084,5,1989.0,https://images.gr-assets.com/books/1404042682m...,488,3.83,47,20
2278,27,Neither Here Nor There: Travels in Europe,380713802,5,1991.0,https://s.gr-assets.com/assets/nophoto/book/11...,198,3.88,57,24
1448,28,Notes from a Small Island,380727501,5,1995.0,https://images.gr-assets.com/books/1479653223m...,414,3.91,63,17
4078,29,The Mother Tongue: English and How It Got That...,380715430,5,1990.0,https://images.gr-assets.com/books/1388209925m...,208,3.95,28,29
963,30,The Hobbit and The Lord of the Rings,345538374,6,1973.0,https://images.gr-assets.com/books/1346072396m...,202,4.59,74,16
188,33,The Lord of the Rings,618640150,6,1955.0,https://images.gr-assets.com/books/1411114164m...,205,4.47,380,4
18,34,The Fellowship of the Ring,618346252,6,1954.0,https://images.gr-assets.com/books/1298411339m...,19,4.34,566,28
4228,36,The Lord of the Rings: Weapons and Warfare,618391002,"7, 8, 9",NaN,https://s.gr-assets.com/assets/nophoto/book/11...,496,4.53,12,14
387,50,Hatchet,689840926,10,1986.0,https://s.gr-assets.com/assets/nophoto/book/11...,281,3.68,93,8
3503,67,The Known World,61159174,11,2003.0,https://s.gr-assets.com/assets/nophoto/book/11...,154,3.82,42,16
638,93,Heidi,753454947,"12, 13, 14",1880.0,https://s.gr-assets.com/assets/nophoto/book/11...,16,3.97,771,29
7682,98,What to Expect the First Year,761129588,"15, 16, 15, 17, 18, 19",1989.0,https://s.gr-assets.com/assets/nophoto/book/11...,379,3.86,45,20
2816,105,Chapterhouse: Dune,441102670,20,1985.0,https://images.gr-assets.com/books/1260954505m...,344,3.89,72,11
1104,106,Dune Messiah,441172695,20,1969.0,https://images.gr-assets.com/books/1392528394m...,465,3.86,140,7
1261,112,Children of Dune,441104029,20,1976.0,https://s.gr-assets.com/assets/nophoto/book/11...,457,3.90,116,5
2490,117,Heretics of Dune,441328008,20,1984.0,https://s.gr-assets.com/assets/nophoto/book/11...,223,3.83,86,9
3229,119,The Lord of the Rings: The Art of The Fellowsh...,618212906,21,2002.0,https://s.gr-assets.com/assets/nophoto/book/11...,52,4.59,7,2
1596,122,The Power of One,034541005X,22,1989.0,https://s.gr-assets.com/assets/nophoto/book/11...,443,4.34,82,10
...,...,...,...,...,...,...,...,...,...,...
3986,29632984,NaN,NaN,5831,2016.0,https://s.gr-assets.com/assets/nophoto/book/11...,115,3.83,8,16
2331,29639736,Everything We Keep,NaN,5832,2016.0,https://s.gr-assets.com/assets/nophoto/book/11...,393,3.84,15,7
3884,29780253,NaN,385689225,5833,2016.0,https://images.gr-assets.com/books/1473867911m...,161,4.49,23,14
4851,29868610,Scrappy Little Nobody,1501117203,5834,2016.0,https://images.gr-assets.com/books/1469410391m...,453,3.91,19,9
9391,29906980,Lincoln in the Bardo,812995341,850,2017.0,https://images.gr-assets.com/books/1492130850m...,343,3.93,2,24
8582,29925715,The Sister,NaN,5835,2016.0,https://s.gr-assets.com/assets/nophoto/book/11...,463,3.77,13,15
7702,29975458,Good as Gone,544920953,5836,2016.0,https://images.gr-assets.com/books/1464329788m...,479,3.53,26,9
2272,29981261,The Butterfly Garden,NaN,5837,2016.0,https://images.gr-assets.com/books/1461392121m...,210,4.07,21,25
8204,29991719,Royally Screwed,NaN,5400,2016.0,https://images.gr-assets.com/books/1463068765m...,59,4.11,8,28
5218,30002998,Two By Two,NaN,257,2016.0,https://images.gr-assets.com/books/1461620101m...,81,3.90,43,11
6442,30008702,Nutshell,385542070,378,2016.0,https://images.gr-assets.com/books/1498680109m...,72,3.71,47,29
4640,30065028,Fantastic Beasts and Where to Find Them: The O...,NaN,1,2016.0,https://images.gr-assets.com/books/1476913365m...,380,4.41,49,3
7447,30226723,King's Cage,62310712,5386,2017.0,https://images.gr-assets.com/books/1467121158m...,385,4.03,11,28
9412,30253700,NaN,NaN,5256,2016.0,https://images.gr-assets.com/books/1465493571m...,307,4.14,7,25
4575,30253864,Talking as Fast as I Can: From Gilmore Girls t...,425285170,5232,2016.0,https://images.gr-assets.com/books/1492797634m...,413,4.04,23,17
7093,30314465,No Man's Land,NaN,883,2016.0,https://images.gr-assets.com/books/1469561999m...,222,4.19,29,7
9815,30364931,NaN,NaN,5449,2016.0,https://images.gr-assets.com/books/1467960990m...,124,4.23,7,22
1538,30555488,The Underground Railroad,385542364,4770,2016.0,https://images.gr-assets.com/books/1493178362m...,104,4.04,48,26
5883,30831912,Norse Mythology,NaN,224,2017.0,https://images.gr-assets.com/books/1473864212m...,221,4.12,38,29
9547,30839185,Vicious,NaN,5838,2016.0,https://images.gr-assets.com/books/1481945407m...,354,4.25,4,23
5110,31140847,NaN,NaN,5422,2016.0,https://s.gr-assets.com/assets/nophoto/book/11...,182,4.25,16,11
5295,31176886,The Chemist,NaN,1636,2016.0,https://images.gr-assets.com/books/1468944057m...,148,3.69,66,28
8712,31194270,"Evelyn, After",NaN,5839,2016.0,https://s.gr-assets.com/assets/nophoto/book/11...,357,3.64,5,10
7442,31538614,"Short Stories from Hogwarts of Power, Politics...",1781106290,"1, 5840",2016.0,https://images.gr-assets.com/books/1471436601m...,22,4.20,18,10
6427,31538635,"Short Stories from Hogwarts of Heroism, Hardsh...",1781106282,"1, 5840",2016.0,https://images.gr-assets.com/books/1471436733m...,113,4.22,18,8
7522,31538647,Hogwarts: An Incomplete and Unreliable Guide,NaN,1,2016.0,https://images.gr-assets.com/books/1502156557m...,464,4.21,18,22
4593,31845516,Love Warrior,1250128544,5173,2016.0,https://images.gr-assets.com/books/1473164102m...,439,4.10,20,16
9568,32075671,The Hate U Give,62498533,5841,2017.0,https://images.gr-assets.com/books/1476284759m...,68,4.62,36,4
9579,32848471,NaN,1682309819,5422,2017.0,https://images.gr-assets.com/books/1479387807m...,223,4.34,8,13
8891,33288638,Wait for It,NaN,5560,2016.0,https://s.gr-assets.com/assets/nophoto/book/11...,17,4.22,4,21

In [21]:
data_authors.set_index('AuthorID', inplace = True)

data_authors.to_sql(con = connection, name = 'author', if_exists = 'append')

IntegrityError: (mysql.connector.errors.IntegrityError) 1062 (23000): Duplicate entry '1' for key 'PRIMARY' [SQL: 'INSERT INTO author (`AuthorID`, `Name`) VALUES (%(AuthorID)s, %(Name)s)'] [parameters: ({'AuthorID': 1, 'Name': 'J.K. Rowling'}, {'AuthorID': 2, 'Name': 'Mary GrandPré'}, {'AuthorID': 3, 'Name': 'Rufus Beck'}, {'AuthorID': 4, 'Name': 'Douglas Adams'}, {'AuthorID': 5, 'Name': 'Bill Bryson'}, {'AuthorID': 6, 'Name': 'J.R.R. Tolkien'}, {'AuthorID': 7, 'Name': 'Chris   Smith'}, {'AuthorID': 8, 'Name': 'Christopher Lee'}  ... displaying 10 of 5841 total bound parameter sets ...  {'AuthorID': 5840, 'Name': 'MinaLima'}, {'AuthorID': 5841, 'Name': 'Angie Thomas'})] (Background on this error at: http://sqlalche.me/e/gkpj)

In [29]:
data_genres.set_index('GenreID', inplace = True)

data_genres.to_sql(con = connection, name = 'genre', if_exists='append')

In [30]:
BookID = df['BookID'].values.tolist()
Title = df['Title'].values.tolist()
ISBN = df['ISBN'].values.tolist()
AuthorsID = df['AuthorsID'].values.tolist()
PublicationYear = df['PublicationYear'].values.tolist()
ImgUrl = df['ImgUrl'].values.tolist()
Price = df['Price'].values.tolist()
AvgRating = df['AvgRating'].values.tolist()
Quantity = df['Quantity'].values.tolist()
GenreID = df['GenreID'].values.tolist()

In [31]:
book = pd.DataFrame({'BookID':BookID})
book['Title'] = Title
book['ISBN'] = ISBN
book['AuthorsID'] = AuthorsID
book['PublicationYear'] = PublicationYear
book['ImgUrl'] = ImgUrl
book['Price'] = Price
book['AvgRating'] = AvgRating
book['Quantity'] = Quantity
book['GenreID'] = GenreID

In [32]:
book['Title'].fillna('Unkown', inplace = True)

In [33]:
book.set_index('BookID', inplace = True)

In [34]:
book.to_sql(con = connection, name = 'book', if_exists='append')

In [26]:
df[df.Title != ' '].shape

(9995, 10)